*::-webkit-input-placeholder {color: #666; opacity: 1;}
*:-moz-placeholder {color: #666;opacity: 1;}
*::-moz-placeholder {color: #666;opacity: 1;}
*:-ms-input-placeholder {color: #666;opacity: 1;}
body input:focus:required:invalid, body textarea:focus:required:invalid {}
body input:required:valid, body textarea:required:valid {}
html.js .loader {background: none repeat scroll 0 0 #ffffff;bottom: 0;height: 100%;left: 0;position: fixed;right: 0;top: 0;width: 100%;z-index: 9999;}
html.js .loader_inner {background-image: url("../img/preloader.gif");background-size: cover;background-repeat: no-repeat;background-position: center center;background-color: #fff;height: 60px;width: 60px;margin-top: -30px;margin-left: -30px;left: 50%;top: 50%;position: absolute;}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Montserrat', 'Nunito Sans', sans-serif;
	overflow-x: hidden;
	background-color: #fff;
}
input:focus,select:focus,button:focus,textarea:focus {outline: none;}
a {text-decoration: none;outline: none;}
ul,ol {padding: 0;margin: 0;list-style: none;}

.hidden {display: none;}

h1,h2,h3,h4,h5,h6 {	margin: 0;	color: #000000;}

h1 {font-size: 38px;}
h2 {font-size: 30px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 15px;}
h6 {font-size: 14px;}
p {font-size: 12px;}

.center-text__section > h1 {
  color: #171717;
  font-family: 'Montserrat';
  font-weight: 500;
  letter-spacing: 0px;
  text-align: center;
}

.center-text__section > h3 {
  margin: 0 auto;
  max-width: 512px;
  letter-spacing: 0px;
  color: #787878;
  font-weight: 400;
  font-family: "Nunito Sans";
  text-align: center;
}

.section1_text {
  margin: 100px 0;
}

.works_section > .container > .works-place_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.works_section > .container > .works-place_section > .work-line > .black {
  background-color: #838383;
}

.works_section > .container > .works-place_section > .work-line > .white {
  background-color: #DDDDDD;
}

.works_section > .container > .works-place_section > .work-line > .block_work {
  position: relative;
  width: 285px;
  height: 250px;
} 

.works_section > .container > .works-place_section > .work-line > .block_work:hover {
  background-color: #10C9C3;
  opacity: 0.8509803921568627;
}

.works_section > .container > .works-place_section > .work-line > .block_work > #img_eye_hover {
  display: none;
}

.works_section > .container > .works-place_section > .work-line > .block_work:hover > #img_eye_hover {
  display: block;
  fill: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-22px, -22px);
}

.section1_black_block {
  background: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.6)), #7e7e7e;
}

.section1_black_block > .container > .center-text__section {
  padding: 120px 0;
}

.section1_black_block > .container > .center-text__section > h1, .section1_black_block > .container > .center-text__section > h3 {
  color: #fff;
}

.numbers_section {
  padding: 100px 0;
  background-color: #10C9C3;
}

.numbers_section > .container > .numbers__list {
  display: flex;
  justify-content: space-between;
}

.numbers_section .numbers__list > .numbrs__list {
  display: flex;
}

.numbers_section .numbers__list > .numbrs__list > svg {
  fill: #fff;
  width: 40px;
}

.numbers_section .numbers__list > .numbrs__list > .text_for__numbers__list {
  margin: 0 0 0 27px;
}

.numbers_section .numbers__list > .numbrs__list > .text_for__numbers__list > p, .numbers_section .numbers__list > .numbrs__list > .text_for__numbers__list > h3 {
  margin: 0;
  font-family: "Montserrat";
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}

.about_us__section .about_us__section__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about_us__section .about_us__section__wrapper > .img_block {
  width: 582px;
  height: 570px;
  background-color: #e1e1e1;
}

.about_us__section .about_us__section__wrapper > .content_block {
  margin: 0 0 0 85px;
  max-width: 454px;
  align-self: center;
}

.about_us__section .about_us__section__wrapper > .content_block > h2 {
  margin: 0 0 40px;
  font-family: "Montserrat";
  color: #171717;
}

.about_us__section .about_us__section__wrapper > .content_block > h4 {
  margin: 0 0 37px;
  font-family: "Nunito Sans";
  color: #787878;
}

.needs_project__section {
  padding: 100px 0;
}

.needs_project__section .needs_project__section__wrapper {
  text-align: center;
}

.needs_project__section .needs_project__section__wrapper > h2 {
  margin: 0 0 35px;
  font-family: "Montserrat";
  color: #1d1d1d;
}

.needs_project__section .needs_project__section__wrapper > h4 {
  margin: 0 auto 37px;
  font-family: "Nunito Sans";
  color: #787878;
  max-width: 537px;
}

.needs_project__section .needs_project__section__wrapper > a > button {
  text-transform: uppercase;
  color: #fff;
  padding: 16px 36px;
  background-color: #10C9C3;
  font-family: "Montserrat";
  letter-spacing: 1px;
  font-size: 12px;
  border: 0;
  font-weight: 700;
}

.contacts__section {
  padding: 75px 0;
}

.contacts__section .contacts_info__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__section .contacts_info__wrapper > .contact__info {
  max-width: 369px;
}

.contacts__section .contacts_info__wrapper > .contact__info, .contacts__section .contacts_info__wrapper > .user__get_in_touch {
  padding: 25px 0;
}

.contacts__section .contacts_info__wrapper > .contact__info > h2 {
  margin: 0 0 43px;
  font-family: "Montserrat";
  color: #171717;
}

.contacts__section .contacts_info__wrapper > .contact__info > h4 {
  font-family: "Nunito Sans";
}

.contacts__section .contacts_info__wrapper > .contact__info > h4:nth-child(2) {
  margin: 0 0 36px;
  line-height: 24px;
  color: #787878;
  font-weight: 400;
}

.contacts__section .contacts_info__wrapper > .contact__info > h4:nth-child(3) {
  line-height: 36px;
  color: #787878;
  font-weight: 400;
}

.contacts__section .contacts_info__wrapper > .contact__info > h4 > span {
  color: #171717;
  font-weight: 700;
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch {
  width: 671px;
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form {
  margin: -5px 0 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, 1fr);
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form > input, .contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form > textarea {
  background-color: #ffffff;
  border: 0;
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form > input::placeholder, .contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form > textarea::placeholder {
  font-family: "Nunito Sans";
  color: #787878;
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form > input:nth-child(1) {
  grid-area: 1/1/1/1;
  margin: 15px 15px 15px 0;
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form > input:nth-child(2) {
  grid-area: 1/2/1/2;
  margin: 15px 0 15px 15px;
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form > input:nth-child(3) {
  grid-area: 2/1/2/3;
  margin: 15px 0;
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch > .contact__form > textarea:nth-child(4) {
  grid-area: 3/1/6/3;
  margin: 15px 0 0;
}

.contacts__section .contacts_info__wrapper > .user__get_in_touch > button {
  margin: 30px 0 0;
  padding: 15px 25px;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #10c9c3;
  text-transform: uppercase;
  border: 0;
}